
.contributionBtns{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: baseline;

}
.viewBtn{
    width: 150px;
    background:teal;
    padding: 10px;
    color: aliceblue;
   height: 50px;
   position: sticky;
    cursor:pointer;
    border-radius: 10px;
  }
.verify{
    width: 150px;
    height: 50px;
    color: white;
    background-color:  #47d147;
    cursor: pointer;
}
.verify:hover{
    background-color: #76b976;

}