.transactionsWrapper{
    display: flex;
   
}
.transactions{
    flex: 4;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
td , th{
  padding: 8px 12px;
  text-align: center;
  
 
 }
 th{
  background-color: #3b5998;
  color: #fafafa;
  font-family: 'Open Sans',Sans-serif;
  font-weight: 300px;
  text-transform: uppercase;
 }
 table{
  /* position: absolute; */
  /* z-index: 2; */
  /* left: 50%; */
  margin-top: 2%;
  
  
  /* transform: translate(-50%,-50%); */
  width: 100%; 
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64,64,64,.7);
  border-radius: 12px 12px 12px 12px;
  overflow: hidden;
 
 }
 tr{
  width: 100%;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
 }
 tr:nth-child(even){
  background-color: #eeeeee;
 }
 .completed {
  background-color: #c8e6c9;
  color: #388e3c;
  height: 30px;
  justify-content: center;
  
}

/* .filter{
    position: absolute;
    height: 1000px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
   }
   body{
       height: 1000px;
   }
  
  
  
  
   table .status-pending {
       background-color: #fff0c2;
       color: #a68b00;
       height: 30px;
       justify-content: center;
       border-radius: 5px;
     }
   
     table .status-unpaid {
       background-color: #ffcdd2;
       color: #c62828;
       height: 30px;
       justify-content: center;
       border-radius: 5px;
     } */
   