@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    font-size: 15px;
}
body{
    /* background-color: #4267b2; */
    background-size: cover;
    background-position: center;
    overflow: scroll;
}
.landing{
    display: flex;
    background-color: white;
}
.lead{
    flex:6;
    margin-left: 50px;
    margin-top: 30px;
}
.lead .leadParagraph{
   font-size: 16px;
   margin-left: 50px;
   margin-top: 30px;
   color: rgb(161, 159, 159);
   font-weight: 500;
}
.lead .landingParagraph{
    font-size: 14px;
    margin-left: 50px;
    margin-top: 30px;
    color: black;
    font-weight: 600;


}
.lead>h1{
    font-size: 30px;
    margin-top: 30px;
    line-height: 40px;
    margin-left: 50px;
}

.landingBtn{
    border-radius: 25px;
    width:150px;
    padding: 10px;
    margin-top: 50px;
    cursor: pointer;
    margin-left:50px;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(62,136,136,1) 40%, rgba(0,212,255,1) 100%);
}
.imageDiv{
    flex:6;
}

.menu-bar{
    background: #4267b2;
    text-align: center;
    font-size: 18px;

}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 10px;
    padding: 3px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active, .menu-bar ul li:hover{
    background: #304c82;
    border-radius: 5px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #304c82;
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 5px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 100px;
    padding: 5px;
    margin: 2px;
    border-bottom: 1px solid #fff;
    text-align: left;
    background: transparent;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #ffc266; 
}

footer{
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 0px 0 10px;
    font-size: 15px;
    line-height: 20px;
}
.row{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.col h3{
    width: fit-content;
    margin-bottom: 10px;
    position: relative;
}
.email-id{
    width: fit-content;
    margin: 10px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}

.home-form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.fa{
    font-size: 18px;
    margin-right: 10px;
}

home-form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: #ccc;
} 
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.pic{
    margin-top: 10px;
    width: 45px;
    height: 45px;
    margin-left: 150px;
}
.pic1{
    margin-top: 15px;
    width: 120px;
    height: 120px;
    margin-left:80px;
}
.section1{
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 0px;
    background-image: url("https://freellustrustrations.s3.us-east-2.amazonaws.com/free-images/thumbimg_11247990thumbejpg.jpg");
    justify-content: center;
    margin: auto;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff;
}
.section1 p{
    font-size: 3rem;
    font-weight: bold;
}
.section2{
    display: grid;
    width: 100%;
    height: 550px;
    background-color: #fff2e6;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    justify-content: center;
    display: flex;
}
.section3{
    width: 100%;
    height: 600px;
    background-color: #fff;
    margin-top: 0px;
}
.section4{
    width: 100%;
    height: 400px;
    background-color: #fff;
    padding-left: 30px;
}
.section4 img{
    margin-top: 35px;
    margin-left: 450px;
    border-radius: 20px; 
}
.card{
width: 100%;
height: 60px;
text-align: center;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.section4 h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.container{
    position: relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  img{
    width: 100%;
    
  }
  .container .card{
    position: relative;
    width: 300px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(0,0,0,.2);
    background: #fff;
    margin: 20px;
    overflow: hidden;
      
  }
  .container .card .circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
  }
  .container .card .content{
    position: absolute;
    bottom: 10px;
    page-break-after: 20px;
    padding: 20px;
    text-align: center;
  }
  .content p{
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
  .content a{
    position: relative;
    display: inline-block;
    background: #000;
    color: #4267b2;
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
  }
  .container .card:nth-child(1) .circle,
  .container .card:nth-child(1) .content a{
    background: #99ccff;
  }
  .container .card:nth-child(2) .circle,
  .container .card:nth-child(2) .content a{
    background: #99ccff;
  }
  .container .card:nth-child(3) .circle,
  .container .card:nth-child(3) .content a{
    background: #99ccff;
  }
  button{
      width: 55px;
      border-radius: 10px;
      border: 1px solid #fff;
      font-weight: bold;
  }
  .h1{
      background-color: #fff2e6;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
  }
  .section4 div{
      width:25%;
      padding: 10px;
      float:left;
  }
  .section4 h2{
    text-align: left;
    margin-left: 1000px;
    margin-bottom: 50px;
    color: #fff;   
    

  }
  .section4 h1{
    text-align: left;
    margin-left: 1000px;
    margin-bottom: 10px;
  }
  .section4 p{
    text-align: left;
    margin-left: 1000px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .section4 a{
    text-align: left;
    text-decoration: none;
    margin-left: 530px;
    margin-top: 40px;
    color: #000099;
    font-size: large;
    font-weight: bold;
    margin-top: auto;
  }
  .section4 a:hover{
      text-decoration: underline;
      color: #000099;
  }