.transactions{
    
    margin-bottom: 20px;
    
}
.pendingTransactions{
    width: 90%;
    margin: 60px;
    
    

}

.transactionsBackground{
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    overflow: hidden;
  

}
.pagination{
    display:flex;
    justify-content: center;
    list-style: none;
    height: 40px;
    width: 80%;
    margin-top: 30px;
    
}
.pagination a{
    padding: 10px;
    margin: 8px; 
    border-radius: 5px;
    border: 1px solid teal;
    color: black;
    cursor: pointer;
}
.pagination a :hover{
    background-color: teal;
    color: white;
   
}
.activeButton a{
    background-color: teal;
    color: white;

}